In [1]:
# código obligatorio --> cabecera
from IPython.display import IFrame

In [2]:
# asignamos al sitio web un nombre, este será llamado link
link = "https://es.wikipedia.org/wiki/WWE_Championship" 
IFrame(link, width=900, height=900)

In [3]:
# importamos "panda" --> permite usar graficos y diversas funciones
import pandas as pd

tablaInicial = pd.read_html(link, # recordar que link --> url de la página web (wikipedia)
                        header=0, # where is the header?
                        flavor='bs4')

In [4]:
# comando que nos ayuda a contar cuántass tablas tenemos en el link insertado
len(tablaInicial)

9

In [5]:
# tablaInicial[3] --> significa el cuadro N°4, ya que recordamos que en phyton el contador empieza en 0
copiaTablaInicial = tablaInicial[3].copy()

In [6]:
# invocamos a la copia de "tablaInicial", precisamente la tabla N°4
copiaTablaInicial

,N.º,Campeones,Lucha,Lucha.1,Lucha.2,Estadísticas,Estadísticas.1,Notas y referencias
0,N.º,Campeones,Fecha,Evento,Ubicación,Reinado,Días,Notas y referencias
1,1,Buddy Rogers,25 de abril de 1963,House Show,"Washington D. C., Estados Unidos",1,22,La WWWF le dio el campeonato cuando dejaron la...
2,2,Bruno Sammartino,17 de mayo de 1963,House Show,"Nueva York, Nueva York",1,2803,Este es el reinado más largo de la historia.[7]​
3,3,Ivan Koloff,18 de enero de 1971,House Show,"Nueva York, Nueva York",1,21,[20]​
4,4,Pedro Morales,8 de febrero de 1971,House Show,"Nueva York, Nueva York",1,1027,"Este día, la WWWF se unió a la National Wrestl..."
...,...,...,...,...,...,...,...,...
161,142,Big E,13 de septiembre de 2021,Raw,"Boston, Massachusetts",1,110,Usó su oportunidad del Money in the Bank.[163]​
162,143,Brock Lesnar,1 de enero de 2022,Day 1,"Atlanta, Georgia",6,28,"Derrotó a Big E, Seth Rollins, Kevin Owens y B..."
163,144,Bobby Lashley,29 de enero de 2022,Royal Rumble,"San Luis, Misuri",2,21,[165]​
164,145,Brock Lesnar,19 de febrero de 2022,Elimination Chamber,"Yeda, Arabia Saudita",7,43,"Derrotó a Bobby Lashley, Riddle, Seth Rollins,..."
165,146,Roman Reigns,3 de abril de 2022,WrestleMania 38,"Arlington, Texas",4,387+,Fue un Winner Takes All match donde también es...

In [7]:
# función que nos dice los tipos de variables que tiene cada columna
copiaTablaInicial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N.º                  166 non-null    object
 1   Campeones            166 non-null    object
 2   Lucha                166 non-null    object
 3   Lucha.1              166 non-null    object
 4   Lucha.2              166 non-null    object
 5   Estadísticas         166 non-null    object
 6   Estadísticas.1       166 non-null    object
 7   Notas y referencias  166 non-null    object
dtypes: object(8)
memory usage: 10.5+ KB

In [8]:
# Paso 1: Recordamos que "copiaTablaInicial" es el nombre de la tabla seleccionada
# Paso 2: .iloc --> función a la cuál le indicaremos cuáles son las COLUMNAS con las que nos queremos quedar
# Paso 3: le decimos a la función cuales son las columnas con las que deseamos trabajar [1,2,4,5,6]
copiaTablaInicial = copiaTablaInicial.iloc[:, [1, 2, 4, 5, 6]]

In [9]:
# invocamos esta nueva tabla
copiaTablaInicial

# como podemos observar, la columna con título "Evento" y "Notas y referencias" fueron eliminados

,Campeones,Lucha,Lucha.2,Estadísticas,Estadísticas.1
0,Campeones,Fecha,Ubicación,Reinado,Días
1,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
2,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
3,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
4,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
...,...,...,...,...,...
161,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
162,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
163,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
164,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
165,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387+

In [10]:
# utilizamos la función ".rename" para cambiarle el nombre a las columnas
copiaTablaInicial = copiaTablaInicial.rename(columns = {'Año': 'Year', 
                                                        'Lucha': 'Fecha', 
                                                        'Lucha.2': 'Ubicacion', 
                                                        'Estadísticas': 'Reinado',
                                                        'Estadísticas.1': 'Días'})

In [11]:
# invocamos a la tabla actualizada
copiaTablaInicial

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Campeones,Fecha,Ubicación,Reinado,Días
1,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
2,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
3,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
4,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
...,...,...,...,...,...
161,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
162,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
163,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
164,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
165,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387+

In [12]:
# como podemos observar, la fila N°1 contiene información repetida, por tanto la eliminaremos
# (salió así porque en wikipedia era un cuadro de doble entrada y se mezcló en el jupyter notebook)

#si usamos el siguiente código, los índices no se reinician
#copiaTablaInicial = copiaTablaInicial.drop(0, axis=0)

# con este código, los índices sí se reinician --> importante usar ".reset_index(drop=True)"
copiaTablaInicial = copiaTablaInicial.drop(0, axis=0).reset_index(drop=True)

In [13]:
# invocamos a la tabla actualizada (sin la fila N°0 que se repetía con el nombre de las columnas)
copiaTablaInicial

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
1,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
2,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
3,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
4,Stan Stasiak,1 de diciembre de 1973,"Filadelfia, Pensilvania",1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
161,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
162,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
163,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
164,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387+

In [14]:
# nos aseguramos de que las celdas con texto no tengan espacios al final ni al principio

# para ello usamos ".strip()" --> Función que elimina los espacios en blanco, ya que estos cuentan como carácteres

# el método str.strip() en Pandas se puede usar para eliminar los espacios en blanco al inicio y al final de cada valor en una columna determinada
copiaTablaInicial['Campeones'] = copiaTablaInicial['Campeones'].str.strip()
copiaTablaInicial['Fecha'] = copiaTablaInicial['Fecha'].str.strip()
copiaTablaInicial['Ubicacion'] = copiaTablaInicial['Ubicacion'].str.strip()
copiaTablaInicial['Reinado'] = copiaTablaInicial['Reinado'].str.strip()
copiaTablaInicial['Días'] = copiaTablaInicial['Días'].str.strip()

In [15]:
# invocamos a la tabla actualizada, la cual si es que existían espacios en blanco en los datos de las celdas, se eliminarían
copiaTablaInicial

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
1,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
2,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
3,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
4,Stan Stasiak,1 de diciembre de 1973,"Filadelfia, Pensilvania",1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
161,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
162,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
163,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
164,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387+

In [16]:
# detectamos la presencia de símbolos en los datos numéricos que no sean numéricos o puntuales

# usamos la función ".str.contains" para detectar símbolos más allá de [^] alfanuméricos (\w) o espacios (\s)
# es decir, esta función nos sirve para poder detectar caracteres diferentes a los espacios y números (^, :, \, ~)
copiaTablaInicial.Campeones[copiaTablaInicial.Campeones.str.contains(pat=r'[^\w\s]', regex=True)]

# detectamos si hay elementos no númeroricos en la celda "Campeones"

21    Sgt. Slaughter
60       Mr. McMahon
Name: Campeones, dtype: object

In [17]:
# detectamos si hay elementos no númeroricos en la celda "Fecha"
copiaTablaInicial.Fecha[copiaTablaInicial.Fecha.str.contains(pat=r'[^\w\s]', regex=True)]

Series([], Name: Fecha, dtype: object)

In [18]:
# detectamos si hay elementos no númeroricos en la celda "Ubicación"
copiaTablaInicial.Ubicacion[copiaTablaInicial.Ubicacion.str.contains(pat=r'[^\w\s]', regex=True)]

0      Washington D. C., Estados Unidos
1                Nueva York, Nueva York
2                Nueva York, Nueva York
3                Nueva York, Nueva York
4               Filadelfia, Pensilvania
                     ...
160               Boston, Massachusetts
161                    Atlanta, Georgia
162                    San Luis, Misuri
163                Yeda, Arabia Saudita
164                    Arlington, Texas
Name: Ubicacion, Length: 165, dtype: object

In [19]:
# detectamos si hay elementos no númeroricos en la celda "Reinado"
copiaTablaInicial.Reinado[copiaTablaInicial.Reinado.str.contains(pat=r'[^\w\s]', regex=True)]

8      †
9      †
10     †
11     †
12     †
16     †
17     —
25     —
40     —
49     —
61     —
65     †
93     —
104    —
118    —
121    †
131    —
134    —
138    —
Name: Reinado, dtype: object

In [20]:
# detectamos si hay elementos no númeroricos en la celda "Días"
copiaTablaInicial.Días[copiaTablaInicial.Días.str.contains(pat=r'[^\w\s]', regex=True)]

8         —
9         —
10        —
11        —
12        —
16        —
17        —
25        —
40        —
49        —
61        —
65        —
93        —
104       —
118       —
121       —
131       —
134       —
138       —
164    387+
Name: Días, dtype: object

In [21]:
# nos aseguramos de que no haya espacios como parte de los nombres de las columnas
columnas_con_espacios = copiaTablaInicial.columns[copiaTablaInicial.columns.str.contains(' ')]

In [22]:
# invocamos a "columnas_con_espacios" y observamos si es que los nombres de las columnas tienen espacios en blanco
columnas_con_espacios

# lo que nos sale dentro de los corchetes ['variable'] --> indica en que variables encontramos aquello que le pedimos
# en el código anterior, lo cual le pedimos que busque espacios en blanco

Index([], dtype='object')

In [23]:
# nos deshacemos de cualquier valor detectado en el paso anterior
copiaTablaInicial.columns = copiaTablaInicial.columns.str.replace(' ', '')

# le pedimos que remplace los espacios en blanco por el vacío (no espacios)

In [24]:
# creamos una copia de la tabla que hasta ahora tenemos con las 5 columnas (Campeones, Fecha, Ubicación, Reinado, Días)
copiaTablaInicial_NuevaCopia = copiaTablaInicial.copy()

In [25]:
# mantenemos solo el valor de los días en la columna "Días"
copiaTablaInicial_NuevaCopia['Días'] = copiaTablaInicial_NuevaCopia.Días.str.replace(pat=r'\D', repl='', regex=True)

In [26]:
# vemos la nueva tabla
copiaTablaInicial_NuevaCopia

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
1,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
2,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
3,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
4,Stan Stasiak,1 de diciembre de 1973,"Filadelfia, Pensilvania",1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
161,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
162,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
163,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
164,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387

In [27]:
# nos aseguramos que se hayan borrado los carácteres no numéricos existentes (+, -) --> "Días"
copiaTablaInicial_NuevaCopia.Días[copiaTablaInicial_NuevaCopia.Días.str.contains(pat=r'[^\w\s]', regex=True)]

# como observamos, quítamos los caracteres no numéricos

Series([], Name: Días, dtype: object)

In [28]:
# mantenemos solo el valor de los días en la columna "Reinado"
copiaTablaInicial_NuevaCopia['Reinado'] = copiaTablaInicial_NuevaCopia.Reinado.str.replace(pat=r'\D', repl='', regex=True)

In [29]:
# nos aseguramos que se hayan borrado los carácteres no numéricos existentes (+, -) --> "Reinado"
copiaTablaInicial_NuevaCopia.Reinado[copiaTablaInicial_NuevaCopia.Reinado.str.contains(pat=r'[^\w\s]', regex=True)]

# como observamos, quítamos los caracteres no numéricos

Series([], Name: Reinado, dtype: object)

In [30]:
# vemos la nueva tabla
copiaTablaInicial_NuevaCopia

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
1,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
2,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
3,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
4,Stan Stasiak,1 de diciembre de 1973,"Filadelfia, Pensilvania",1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
161,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
162,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
163,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
164,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387

In [31]:
# nos aseguramos que se hayan borrado los carácteres no numéricos existentes (+, -) --> "Campeones"
copiaTablaInicial_NuevaCopia['Campeones'] = copiaTablaInicial_NuevaCopia['Campeones'].str.replace('.', '', regex=False)

# como observamos, usando la función ".str.replace("caracterQueNoQueremos", "CaracterRemplazar")"

In [32]:
# vemos la nueva tabla
copiaTablaInicial_NuevaCopia

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,"Washington D. C., Estados Unidos",1,22
1,Bruno Sammartino,17 de mayo de 1963,"Nueva York, Nueva York",1,2803
2,Ivan Koloff,18 de enero de 1971,"Nueva York, Nueva York",1,21
3,Pedro Morales,8 de febrero de 1971,"Nueva York, Nueva York",1,1027
4,Stan Stasiak,1 de diciembre de 1973,"Filadelfia, Pensilvania",1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,"Boston, Massachusetts",1,110
161,Brock Lesnar,1 de enero de 2022,"Atlanta, Georgia",6,28
162,Bobby Lashley,29 de enero de 2022,"San Luis, Misuri",2,21
163,Brock Lesnar,19 de febrero de 2022,"Yeda, Arabia Saudita",7,43
164,Roman Reigns,3 de abril de 2022,"Arlington, Texas",4,387

In [33]:
# nos aseguramos que se hayan borrado los carácteres no numéricos existentes (.) --> "Campeones"
copiaTablaInicial_NuevaCopia.Campeones[copiaTablaInicial_NuevaCopia.Campeones.str.contains(pat=r'[^\w\s]', regex=True)]

# como observamos, quítamos los caracteres no numéricos como "."

Series([], Name: Campeones, dtype: object)

In [34]:
# función para obtener las palabras antes de la coma en la columna "Columna"
copiaTablaInicial_NuevaCopia['Ubicacion'] = copiaTablaInicial_NuevaCopia['Ubicacion'].apply(lambda x: x.split(',')[0].strip())

In [35]:
# nos aseguramos que se hayan borrado los carácteres presentes después de la primera "," detectada
copiaTablaInicial_NuevaCopia

# como observamos, quítamos los caracteres después ","

,Campeones,Fecha,Ubicacion,Reinado,Días
0,Buddy Rogers,25 de abril de 1963,Washington D. C.,1,22
1,Bruno Sammartino,17 de mayo de 1963,Nueva York,1,2803
2,Ivan Koloff,18 de enero de 1971,Nueva York,1,21
3,Pedro Morales,8 de febrero de 1971,Nueva York,1,1027
4,Stan Stasiak,1 de diciembre de 1973,Filadelfia,1,9
...,...,...,...,...,...
160,Big E,13 de septiembre de 2021,Boston,1,110
161,Brock Lesnar,1 de enero de 2022,Atlanta,6,28
162,Bobby Lashley,29 de enero de 2022,San Luis,2,21
163,Brock Lesnar,19 de febrero de 2022,Yeda,7,43
164,Roman Reigns,3 de abril de 2022,Arlington,4,387

In [36]:
# detectamos si hay elementos no númeroricos en la celda "Ubicación"
copiaTablaInicial_NuevaCopia.Ubicacion[copiaTablaInicial_NuevaCopia.Ubicacion.str.contains(pat=r'[^\w\s]', regex=True)]

0      Washington D. C.
11                    —
66     Washington D. C.
104                   —
138                   —
Name: Ubicacion, dtype: object

In [37]:
# eliminamos los "."
copiaTablaInicial_NuevaCopia['Ubicacion'] = copiaTablaInicial_NuevaCopia['Ubicacion'].str.replace('.', '', regex=False)

In [38]:
# eliminamos los "-"
copiaTablaInicial_NuevaCopia['Ubicacion'] = copiaTablaInicial_NuevaCopia['Ubicacion'].str.replace('—', '', regex=False)

In [39]:
# vemos si es que se borraron los "." y "-"
copiaTablaInicial_NuevaCopia.Ubicacion[copiaTablaInicial_NuevaCopia.Ubicacion.str.contains(pat=r'[^\w\s]', regex=True)]

# como observamos, eliminamos todos los caractéres no numéricos (. y —)

Series([], Name: Ubicacion, dtype: object)

In [40]:
# observamos como va quedando la tabla
copiaTablaInicial_NuevaCopia

            Campeones                     Fecha       Ubicacion Reinado  Días
0        Buddy Rogers       25 de abril de 1963  Washington D C       1    22
1    Bruno Sammartino        17 de mayo de 1963      Nueva York       1  2803
2         Ivan Koloff       18 de enero de 1971      Nueva York       1    21
3       Pedro Morales      8 de febrero de 1971      Nueva York       1  1027
4        Stan Stasiak    1 de diciembre de 1973      Filadelfia       1     9
..                ...                       ...             ...     ...   ...
160             Big E  13 de septiembre de 2021          Boston       1   110
161      Brock Lesnar        1 de enero de 2022         Atlanta       6    28
162     Bobby Lashley       29 de enero de 2022        San Luis       2    21
163      Brock Lesnar     19 de febrero de 2022            Yeda       7    43
164      Roman Reigns        3 de abril de 2022       Arlington       4   387

[165 rows x 5 columns]

In [41]:
# eliminamos los "D C"
copiaTablaInicial_NuevaCopia['Ubicacion'] = copiaTablaInicial_NuevaCopia['Ubicacion'].str.replace('D C', 'DC', regex=False)

In [42]:
# observamos como va quedando la tabla
copiaTablaInicial_NuevaCopia

            Campeones                     Fecha      Ubicacion Reinado  Días
0        Buddy Rogers       25 de abril de 1963  Washington DC       1    22
1    Bruno Sammartino        17 de mayo de 1963     Nueva York       1  2803
2         Ivan Koloff       18 de enero de 1971     Nueva York       1    21
3       Pedro Morales      8 de febrero de 1971     Nueva York       1  1027
4        Stan Stasiak    1 de diciembre de 1973     Filadelfia       1     9
..                ...                       ...            ...     ...   ...
160             Big E  13 de septiembre de 2021         Boston       1   110
161      Brock Lesnar        1 de enero de 2022        Atlanta       6    28
162     Bobby Lashley       29 de enero de 2022       San Luis       2    21
163      Brock Lesnar     19 de febrero de 2022           Yeda       7    43
164      Roman Reigns        3 de abril de 2022      Arlington       4   387

[165 rows x 5 columns]

In [43]:
# finalmente solo quedaría poner la fecha a caractér númerico con "/" de separador --> ello en la celda "Fecha"

# reemplazamos los meses (en nombre) a meses (número representativo)
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('enero', '1', regex=False)

In [44]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('febrero', '2', regex=False)

In [45]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('marzo', '3', regex=False)

In [46]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('abril', '4', regex=False)

In [47]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('mayo', '5', regex=False)

In [48]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('junio', '6', regex=False)

In [49]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('julio', '7', regex=False)

In [50]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('agosto', '8', regex=False)

In [51]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('septiembre', '9', regex=False)

In [52]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('octubre', '10', regex=False)

In [53]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('noviembre', '11', regex=False)

In [54]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace('diciembre', '12', regex=False)

In [55]:
copiaTablaInicial_NuevaCopia['Fecha'] = copiaTablaInicial_NuevaCopia['Fecha'].str.replace(' de ', '/', regex=False)

In [56]:
# observamos como quedaría la tabla con la última modificación
copiaTablaInicial_NuevaCopia

            Campeones      Fecha      Ubicacion Reinado  Días
0        Buddy Rogers  25/4/1963  Washington DC       1    22
1    Bruno Sammartino  17/5/1963     Nueva York       1  2803
2         Ivan Koloff  18/1/1971     Nueva York       1    21
3       Pedro Morales   8/2/1971     Nueva York       1  1027
4        Stan Stasiak  1/12/1973     Filadelfia       1     9
..                ...        ...            ...     ...   ...
160             Big E  13/9/2021         Boston       1   110
161      Brock Lesnar   1/1/2022        Atlanta       6    28
162     Bobby Lashley  29/1/2022       San Luis       2    21
163      Brock Lesnar  19/2/2022           Yeda       7    43
164      Roman Reigns   3/4/2022      Arlington       4   387

[165 rows x 5 columns]

In [57]:
# creamos una copia de la tabla que hasta ahora tenemos con las 4 columnas (name, value, carbon_date, region)
tablaFinal = copiaTablaInicial_NuevaCopia.copy()

In [58]:
# final table with cleaning data finished
tablaFinal

            Campeones      Fecha      Ubicacion Reinado  Días
0        Buddy Rogers  25/4/1963  Washington DC       1    22
1    Bruno Sammartino  17/5/1963     Nueva York       1  2803
2         Ivan Koloff  18/1/1971     Nueva York       1    21
3       Pedro Morales   8/2/1971     Nueva York       1  1027
4        Stan Stasiak  1/12/1973     Filadelfia       1     9
..                ...        ...            ...     ...   ...
160             Big E  13/9/2021         Boston       1   110
161      Brock Lesnar   1/1/2022        Atlanta       6    28
162     Bobby Lashley  29/1/2022       San Luis       2    21
163      Brock Lesnar  19/2/2022           Yeda       7    43
164      Roman Reigns   3/4/2022      Arlington       4   387

[165 rows x 5 columns]

In [59]:
# finalmente, una vez terminamos nosso proceso de cleaning data, importamos la tabla final
# para ello, utilizamos la siguiente función
# nombreTabla.to_csv(os.path.join("Nombre_de_carpeta_que_tenemos_que_crear", "nombreTabla.csv"), index = False)

import os

tablaFinal.to_csv(os.path.join("Tabla Limpia (Evaluación)","tablaFinal.csv"),index=False)